// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Stili generali
body {
  font-family: 'Roboto', sans-serif;
  color: $text_color;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $text_color;
  white-space: nowrap;
}
img {
  width: 100%;
}
