header {
  @include container;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid $text_color;
  position: relative;
  nav {
    .menu {
      display: flex;
      li {
        padding-right: 15px;
        font-weight: bold;
        position: relative;
      }
      .signUp {
        background-color: $color_button_signUp;
        border: 1px solid $secondary_color;
        color: $secondary_color;
      }
      @media screen and (max-width: 992px) {
        display: none;
      }
    }
    #burgher-menu {
      font-size: 50px;
      display: none;
      &:hover {
        cursor: pointer;
      }
      @media screen and (max-width: 992px) {
        display: inline-block;
      }
    }
    .drop-down {
      position: absolute;
      top: 30px;
      left: -7px;
      background-color: white;
      border: 1px solid $text_color;
      padding: 10px;
      border-radius: 5px;
      display: none;
      li {
        line-height: 25px;
      }
    }
    .show {
      display: block;
    }
  }
  .burgher-drop-down {
    display: none;
    position: absolute;
    width: 100%;
    top: 73px;
    background-color: white;
    li {
      line-height: 25px;
    }
    .signUp {
      display: block;
      text-align: center;
    }
  }
  .show {
    display: block;
  }
}
