header {
  @include container;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-bottom: $style_border;
  position: relative;
  nav {
    .menu {
      display: flex;
      li {
        padding-right: 15px;
        font-weight: bold;
        position: relative;
      }
      .signUp {
        @include buttonLayout;
        background-color: $color_button_signUp;
        border: 1px solid $secondary_color;
        color: $secondary_color;
        img {
          @include imgButton;
        }
      }
      @media screen and (max-width: 992px) {
        display: none;
      }
    }
    #burgher-menu {
      font-size: 50px;
      display: none;
      &:hover {
        cursor: pointer;
      }
      @media screen and (max-width: 992px) {
        display: inline-block;
      }
    }
    .drop-down {
      @include dropDownLayout;
      top: 30px;
      left: -7px;
      @include verticalMenu;
    }
    .show {
      display: block;
    }
  }
  .burgher-drop-down {
    @include dropDownLayout;
    width: 100%;
    top: 73px;
    @include verticalMenu;
    .signUp {
      @include buttonLayout;
      display: block;
      text-align: center;
      img {
        @include imgButton;
      }
    }
  }
  .show {
    display: block;
  }
}
