// Sezione peolpe sfondo rosa
.people {
  background-color: $primary_color;
  text-align: center;
  padding: 25px 0;

  &_section.first {
    border-bottom: $style_border;
    margin-bottom: 25px;
  }

  &_section {
    @include container;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > div {
      padding: 50px;
      flex-basis: calc(100% / 3);
      @media screen and (max-width: 992px){
        flex-basis: calc(100%);
      }
      & > div {
        width: 200px;
        height: 200px;
        margin: auto;
      }
      #safe-image > img {
        width: 50%;
      }
    }
  }
}
// Fine sezione peolpe sfondo rosa

// Sezione operation sfondo bianco
.operation {
  @include container;
  flex-wrap: wrap;
  & > div {
    padding: 50px 0;

  }
  .image {
    flex-basis: 50%;
    @media screen and (max-width: 992px) {
      flex-basis: 100%;
    }
  }
  .explanation {
    flex-basis: 30%;
    @media screen and (max-width: 992px) {
      flex-basis: 100%;
    }
    h2 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 15px;
    }
    span {
      font-size: 25px;
      line-height: 35px;
    }
    a {
      display: block;
      font-size: 25px;
      font-weight: bold;
      color: $secondary_color;
      margin: 25px 0;
    }
  }
  &.right {
    flex-direction: row-reverse;
  }
}
// Fine sezione operation sfondo bianco

// Sezione get started sfondo rosa
.get_started {
  background-color: $primary_color;
  .central_wrapper {
    width: 50%;
    margin: auto;
    text-align: center;
    h2 {
      font-size: 35px;
      position: relative;
      &::before {
        position: absolute;
        bottom: 0;
        right: 0;
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        background-image: url('../img/happy.svg');
        background-size: cover;
      }
    }
    .founder_letter {
      border: 1px solid $secondary_color;
      border-radius: 5px;
      background-color: white;
      padding: 15px;
      margin: 20px;
      position: relative;
      #quotation_marks {
        font-size: 50px;
        color: $secondary_color;
        position: absolute;
        top: -35px;
        left: 0;
      }
      p {
        margin: 10px 0;
      }
      img {
        width: 50px;
      }
      span {
        display: block;
      }
      .founder_signature {
        color: $secondary_color;
      }
    }
    .button {
      @include buttonLayout;
      img {
        @include imgButton;
      }
    }
  }
}
// Fine sezione get started sfondo rosa
